Repository vancura/podman-desktop-navbar-proto: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix --max-warnings=0, cspell --no-must-find-files, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: replace Japanese translations with Chinese and update locale support
  PLAN.md
  README.md
  src/lib/i18n/index.ts
  src/lib/i18n/locales/ja.ts
  src/lib/i18n/locales/zh.ts
  src/lib/state/types.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix --max-warnings=0, cspell --no-must-find-files, bash -c 'pnpm typecheck', prettier --write

feat: improve Navbar component layout by adjusting padding and button alignment based on expansion state
  src/lib/components/navbar/Navbar.svelte
Due: none

feat: add dashboard icon and update navigation shortcuts and translations across multiple languages
  src/lib/components/Icon.svelte
  src/lib/components/controls/KeyboardShortcutsHelp.svelte
  src/lib/i18n/locales/ar.ts
  src/lib/i18n/locales/de.ts
  src/lib/i18n/locales/en.ts
  src/lib/i18n/locales/he.ts
  src/lib/i18n/locales/zh.ts
  src/lib/state/nav-items.ts
  src/lib/state/types.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix --max-warnings=0, cspell --no-must-find-files, bash -c 'pnpm typecheck'

feat: replace terminal icon and shortcuts with networks and secrets, update translations across multiple languages
  src/lib/components/Icon.svelte
  src/lib/components/controls/KeyboardShortcutsHelp.svelte
  src/lib/i18n/locales/ar.ts
  src/lib/i18n/locales/de.ts
  src/lib/i18n/locales/en.ts
  src/lib/i18n/locales/he.ts
  src/lib/i18n/locales/zh.ts
  src/lib/state/nav-items.ts
  src/lib/state/types.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix --max-warnings=0, cspell --no-must-find-files, bash -c 'pnpm typecheck'

feat: import formatKeyboardShortcut utility and remove legacy shortcut formatting method for improved consistency
  src/lib/i18n/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix --max-warnings=0, cspell --no-must-find-files, bash -c 'pnpm typecheck'

chore: update plug icon
  src/lib/components/Icon.svelte
Due: none

chore: add ctrl detection
  src/lib/utils/keyboard.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix --max-warnings=0, cspell --no-must-find-files, bash -c 'pnpm typecheck'

refactor: remove macOS platform detection and improve callback execution in setPlatformOverride function
  src/lib/utils/keyboard.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix --max-warnings=0, cspell --no-must-find-files, bash -c 'pnpm typecheck'

docs: update README
  README.md
Due: cspell --no-must-find-files, prettier --write

chore: fix CI
  .github/workflows/ci.yml
Due: prettier --write

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  eslint --fix --max-warnings=0: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  cspell --no-must-find-files: (any of: *.{ts,tsx}) or (any of: *.{md,mdx})
  bash -c 'pnpm typecheck': any of: *.{ts,tsx}
  biome format --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{json,jsonc,css}
  prettier --write: (any of: *.{md,mdx}) or (any of: *.{yml,yaml})
