Repository vancura/podman-desktop-navbar-proto: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix --max-warnings=0, cspell --no-must-find-files, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update tsconfig.json to enhance type definitions and organize compiler options
  tsconfig.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update configuration files to support Svelte formatting and linting, including adjustments to prettier and eslint settings
  .prettierignore
  .vscode/settings.json
  biome.json
  eslint.config.js
  prettier.config.js
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix --max-warnings=0, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update CI workflow to use actions/upload-artifact@v6 and remove example build steps
  .github/workflows/ci.yml
Due: prettier --write

chore: update .gitignore and .npmignore to include AI assistant rules and clean up ignored files
  .gitignore
  .npmignore
Due: none

chore: update cspell configuration to include schema, versioning, and additional ignore paths
  cspell.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: clean up VSCode settings by removing unused cSpell words
  .vscode/settings.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update linting and formatting configurations to include cspell checks for markdown and YAML files, and add support for Svelte files
  .lintstagedrc.json
  biome.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update package.json and pnpm-lock.yaml to enhance formatting scripts for Svelte files and add prettier-plugin-svelte dependency
  package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: enhance ESLint and TypeScript configurations for Svelte support, improve documentation, and refine keyboard utility functions
  eslint.config.js
  src/lib/i18n/index.ts
  src/lib/i18n/locales/en.ts
  src/lib/state/app-state.svelte.ts
  src/lib/utils/keyboard.ts
  src/lib/utils/menu-navigation.ts
  src/main.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix --max-warnings=0, cspell --no-must-find-files, bash -c 'pnpm typecheck'

chore: update cspell configuration to add new words and ignore paths, and refine modal text for consistency
  cspell.json
  src/lib/components/overlays/ContextMenu.svelte
  src/lib/i18n/locales/en.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix --max-warnings=0, cspell --no-must-find-files, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: enhance README.mddevelopment guidelines
  README.md
Due: cspell --no-must-find-files, prettier --write

chore: make the window smaller
  src/lib/components/window/WindowFrame.svelte
Due: none

chore: remove the disabled cursor
  src/lib/components/controls/ActionButton.svelte
  src/lib/components/overlays/ContextMenu.svelte
Due: none

chore: remove filled icons
  PLAN.md
  src/lib/components/Icon.svelte
  src/lib/components/controls/ControlPanel.svelte
  src/lib/components/navbar/NavbarItem.svelte
  src/lib/components/overlays/MoreMenu.svelte
  src/lib/state/app-state.svelte.ts
  src/lib/state/nav-items.ts
  src/lib/state/types.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix --max-warnings=0, cspell --no-must-find-files, bash -c 'pnpm typecheck', prettier --write

chore: add the repo link
  src/app.css
  src/lib/components/controls/ControlPanel.svelte
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: add pinned navbar item overlay
  src/lib/components/Icon.svelte
  src/lib/components/navbar/Navbar.svelte
  src/lib/components/navbar/NavbarItem.svelte
  src/lib/state/types.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix --max-warnings=0, cspell --no-must-find-files, bash -c 'pnpm typecheck'

chore: fix the tab/shift tab navigation
  src/lib/components/navbar/NavbarItem.svelte
Due: none

chore: change they pin keyboard shortcut
  src/lib/components/controls/KeyboardShortcutsHelp.svelte
  src/lib/utils/keyboard.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix --max-warnings=0, cspell --no-must-find-files, bash -c 'pnpm typecheck'

chore: pinning pins selected item and not active
  src/lib/utils/keyboard.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix --max-warnings=0, cspell --no-must-find-files, bash -c 'pnpm typecheck'

chore: fix the keyboard navigation to the more menu
  src/lib/utils/keyboard.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix --max-warnings=0, cspell --no-must-find-files, bash -c 'pnpm typecheck'

chore: add more menu navigation
  src/lib/components/overlays/MoreMenu.svelte
Due: none

chore: rename the keyboard action
  src/lib/components/controls/KeyboardShortcutsHelp.svelte
Due: none

chore: add the menu rollout
  src/lib/components/overlays/ContextMenu.svelte
  src/lib/components/overlays/MoreMenu.svelte
Due: none

chore: better random items to add
  src/lib/components/controls/ControlPanel.svelte
Due: none

chore: fix the scroll gradients
  src/lib/components/navbar/Navbar.svelte
  src/lib/components/scrollbar/FadeGradient.svelte
Due: none

chore: style the more button
  src/lib/components/navbar/Navbar.svelte
Due: none

chore: fix the gradients
  src/lib/components/navbar/Navbar.svelte
Due: none

chore: add keyboard tooltips
  src/lib/components/navbar/Navbar.svelte
  src/lib/components/navbar/NavbarItem.svelte
  src/lib/state/app-state.svelte.ts
  src/lib/utils/keyboard.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix --max-warnings=0, cspell --no-must-find-files, bash -c 'pnpm typecheck'

chore: add keyboard shortcuts help
  src/app.css
  src/lib/components/controls/ControlPanel.svelte
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: add platform-based keyboard shortcuts
  src/lib/components/controls/ControlPanel.svelte
  src/lib/components/controls/KeyboardShortcutsHelp.svelte
  src/lib/components/navbar/Navbar.svelte
  src/lib/i18n/index.ts
  src/lib/utils/keyboard.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix --max-warnings=0, cspell --no-must-find-files, bash -c 'pnpm typecheck'

chore: add horizontal layout
  src/lib/components/navbar/NavbarItem.svelte
  src/lib/utils/constants.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix --max-warnings=0, cspell --no-must-find-files, bash -c 'pnpm typecheck'

chore: update icons
  src/lib/components/Icon.svelte
Due: none

chore: remove pre-push husky hook
  .husky/pre-push
Due: none

chore: remove webgpu
  tsconfig.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: add Plausible
  index.html
Due: none

chore: fix the gradient
  src/lib/components/navbar/Navbar.svelte
Due: none

feat: refactor ControlPanel and add TipSection component
  src/lib/components/controls/ControlPanel.svelte
  src/lib/components/controls/TipSection.svelte
Due: none

feat: add 'pen' icon and integrate it into Navbar component
  src/lib/components/Icon.svelte
  src/lib/components/navbar/Navbar.svelte
  src/lib/state/types.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix --max-warnings=0, cspell --no-must-find-files, bash -c 'pnpm typecheck'

feat: enhance Icon component to support multiple paths and add reset layout functionality in MoreMenu
  src/lib/components/Icon.svelte
  src/lib/components/overlays/MoreMenu.svelte
  src/lib/i18n/locales/ar.ts
  src/lib/i18n/locales/de.ts
  src/lib/i18n/locales/en.ts
  src/lib/i18n/locales/he.ts
  src/lib/i18n/locales/ja.ts
  src/lib/state/types.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix --max-warnings=0, cspell --no-must-find-files, bash -c 'pnpm typecheck'

feat: update ControlPanel actions to hide items and modify layout reset label
  PLAN.md
  src/lib/components/controls/ControlPanel.svelte
  src/lib/i18n/locales/en.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix --max-warnings=0, cspell --no-must-find-files, bash -c 'pnpm typecheck', prettier --write

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  eslint --fix --max-warnings=0: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  cspell --no-must-find-files: (any of: *.{ts,tsx}) or (any of: *.{md,mdx})
  bash -c 'pnpm typecheck': any of: *.{ts,tsx}
  biome format --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{json,jsonc,css}
  prettier --write: (any of: *.{md,mdx}) or (any of: *.{yml,yaml})
